@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin:0;
}

nav{
    background-color: black;
        display: flex;
    flex-direction: row;
    gap: 200px;
}
ul{
    display: flex;
  
    list-style: none;
    font-size: 35px;
       gap: 200px;}
li{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logoari{
    width: 25%;
    height: 25%;
}
a{
    text-decoration: none;
    color: rgb(48, 122, 147);
}
a:hover{
    color: rgb(97, 154, 192);
}

.bed{
    background-image: url("ki.webp");
  height: 900px; 
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
      display: flex;
    flex-direction: column;
    justify-content: center;
}
.portofolioo{
    display: flex;
    flex-direction: row;
   gap: 50px;
    padding: 20px;

}

img{
        width: 100%;
    height: 100%;
}

.porto{
    border: 1px solid rgb(34, 105, 128);
    padding: 50px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}


.porto:hover{
    background-color: rgb(2, 45, 60);

}

.porto h2, h4{
    color: white;
}

h1{
     color: black;
    font-family: "Bacasime Antique", sans-serif;
    font-size: 86px;
    font-style: normal;
    font-weight: 400;
    padding-left: 550px;
}

.aria{
    font-size: 14px;
     color: black;
   font-family: "Plus Jakarta Sans", sans-serif;
    padding-left: 550px;
}

h1:hover{
    color:rgb(2, 45, 60) ;
}
h2{
     font-family: "Bacasime Antique", serif;
  font-weight: 400;
  font-style: normal;
}

h4{
     font-family: "Bacasime Antique", serif;
  font-weight: 400;
  font-style: normal;
}






.colors{
    padding: 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

.color1{
    background-image: url(wood.jpg);
    background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
      display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 400px;
    text-align: center;
}



.color2{
    background-image: url(poplar.jpg);
    background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
      display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 400px;
    text-align: center;
}




.color3{
    background-image: url(alder1.jpg);
    background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
      display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 400px;
    text-align: center;
}

   





.color4{
    background-image: url(walnut1.webp);
    background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
      display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 400px;
    text-align: center;
}
   



.color5{
    background-image: url(Cherry.jpg);
    background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
      display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 400px;
    text-align: center;
}


.color6{
    background-image: url(maple.jpg);
    background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
      display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 400px;
    text-align: center;
}


.color7{
    background-image: url(oak.jpg);
    background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
      display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 400px;
    text-align: center;
}


.color8{
    background-image: url(mahogany.avif);
    background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
      display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 400px;
    text-align: center;
}



.color9{
    background-image: url(hick.webp);
    background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
      display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 400px;
    text-align: center;
}




.color10{
    background-image: url(bamboo.jpg);
    background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
      display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 400px;
    text-align: center;
}



.color11{
    background-image: url(ambre.jpg);
    background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
      display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 400px;
    text-align: center;
}






.color12{
    background-image: url(pine.jpg);
    background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
      display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 400px;
    text-align: center;
}


