*{
    margin: 0;
}

p{
text-align: center;
font-size: 30px;
color: lightgreen;
font-size: 30px;
}

img{
background-color: rgb(0, 136, 255);
margin: 20px;
}

nav{
        display: flex;
            flex-direction: column;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    list-style: none;
    background-color: rgb(92, 128, 92);
}

ul a{
    text-decoration: none;
    font-size: 20px;
    color:rgb(139, 215, 139);
}
a:hover{
    color: burlywood;
}
.fotot{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.foto1{
    display: flex;
    flex-direction: row;
}
.foto2{
    border: 6px solid green;
    padding: 10px;
    text-align: center;
    margin: 15px;
}
 .foto2 h2{
    font-size: 20px;
    color: lightgreen;
 }
 .foto2 h3{
    font-size: 20px;
    color: lightgreen;
 }