.menu{
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 15px;
}
 .menu1{
            display: flex;
            flex-direction: column;
            border: 1px solid #3e2723;
            padding: 20px;
        }
        .menu1:hover{
            background-color: palevioletred;
        }